/* RESETS */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', Helvetica, sans-serif;
  box-sizing: border-box;
}


img {
  display: block;
  max-width: 100%;
}


/* SITE CONTAINER */
.site-container {
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
}


.top-info-bg {
  background-color: #122AB2;
}
.top-info {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.top-info li {
  padding: 10px;
}
.top-info li a {
  color: #fff;
}


.menu-bg {
  background-color: #2C70FF;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}
.menu a {
  color: #fff;
}
.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-nav a {
  font-size: 1.25em;
  padding: 10px 0;
  margin-left: 10px;
}
.menu-nav a:hover {
  color: #122AB2;
}


.intro-title {
  padding: 60px 10px;
  font-size: 3em;
  font-weight: bold;
  line-height: 1;
}


.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}
.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}
.sobre-info h1 {
  font-size: 3em;
  margin-bottom: .5em;
}
.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}
.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px
}


.products {
  margin-bottom: 60px;
}
.products h1 {
  margin-left: 10px;
  font-size: 3em;
  padding: 60px 0;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.products-item {
  flex: 1 1 200px;
  margin: 10px;
}
.products-item h2 {
  color: #a4a4a4;
  font-size: 3em;
  padding: 60px 20px;
  background-color: #f7f7f7;
}
.purple {
  border-top: 8px solid #ae81ff;
}
.red {
  border-top: 8px solid #f9265e;
}
.blue {
  border-top: 8px solid #66d9eb;
}


.prices-bg {
  background-color: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.item-price {
  border: 4px solid #fff;
  margin: 10px;
  padding: 20px;
  flex: 1;
  text-align: center;
}
.item-price h2 {
  color: #a4a4a4;
  font-size: 3em;
  margin-top: 20px;
}
.item-price span {
  display: block;
  max-width: 300px;
  margin: 20px auto;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  padding: 10px 0px 5px 0;
  font-size: 3em;
  font-weight: bold;
}
.item-price sup {
  font-size: 1.5rem;
}
.item-price ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
}
.item-price ul li {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-price ul li::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #122ab2;
  border-radius: 50%;
}
.item-price a {
  max-width: 300px;
  display: block;
  padding: 15px 0px;
  border: 4px solid #222;
  font-size: 2.25em;
  text-transform: uppercase;
  font-weight: bold;
  color: #222;
  margin: 20px auto;
}